*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:#03ABEE;
}

body{
    width: 400px;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 display: flex;
 padding: 20px;
}